body{

margin:0;

background:#121212;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Poppins,sans-serif;

}

.login-box{

background:#222;

padding:40px;

border-radius:15px;

width:350px;

text-align:center;

color:white;

}

input{

width:100%;

padding:15px;

margin:10px 0;

border:none;

border-radius:10px;

}

button{

width:100%;

padding:15px;

background:orange;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}